<!doctype html>
<html lang="ko-kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>체크박스 컴포넌트</title>

    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="/src/assets/favicon/likelion.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
    />
    <link rel="stylesheet" href="/src/ui/components/checkbox/checkbox.css" />
  </head>
  <body>
    <div class="components-container">
      <h1>체크박스 컴포넌트</h1>

      <h2>체크박스 (배경이미지)</h2>
      <div class="checkbox">
        <input
          class="checkbox__input"
          type="checkbox"
          name="checkbox-1"
          id="checkbox-1"
          required
        />
        <label class="checkbox__label bg-img" for="checkbox-1">
          로그인 상태 유지
        </label>
      </div>
      <h2>체크박스(svg 요소)</h2>
    </div>
  </body>
</html>
